<!-- Enlace que actúa como botón -->
<a href="/casa.component.html">
  <button>❌​Volver</button>
</a>

<h2> 4x4</h2>
<div class="grid-container grid-4x4">
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
</div>

<h2> 5x5</h2>
<div class="grid-container grid-5x5">
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
</div>

<h2> 6x6</h2>
<div class="grid-container grid-6x6">
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
</div>

<h2> 7x7</h2>
<div class="grid-container grid-7x7">
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
  <div class="grid-item cyan"></div>
</div>
