<meta name="viewport" content="width=device-width, initial-scale=1.0">

<a href="casa.component.html">
    <button>❌​Volver</button>
  </a>
<!-- Bloque alineado en la mitad  s-->
<div class="flex align-items-center justify-content-center">
    <div class="block w-20rem h-10rem bg-blue-300 text-white font-bold flex align-items-center justify-content-center p-4 border-round">1</div>
</div>

<!--Bloques alineados a los lados-->
<div class="flex justify-content-between w-full mt-4">
    <div class="block w-20rem h-10rem bg-yellow-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">2</div>
    <div class="block w-20rem h-10rem bg-green-300 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
</div>

<!-- fila de 8 bloques en el centro -->
    <div class="flex flex-wrap justify-start justify-content-center w-full mt-4 gap-5">
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">4</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">5</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">6</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">7</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">8</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">9</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">10</div>
        <div class="block w-10rem h-10rem bg-green-600 text-white font-bold flex align-items-center justify-center p-7 border-round mb-3 lg:w-8.5rem md:w-8rem sm:w-6rem">11</div>
    </div>

<!-- bloque alineado a la derecha  -->
<div class="flex justify-content-end w-full mt-4">
    <div class="block w-30rem h-10rem bg-blue-800 text-white font-bold flex align-items-center justify-content-center p-4 border-round">12</div>
</div>

<!-- Dos bloques mas a los lados -->
<div class="flex justify-content-between w-full mt-4">
    <div class="block w-11rem h-10rem bg-orange-700 text-white font-bold flex align-items-center justify-content-center p-4 border-round">13</div>
    <div class="block w-11rem h-10rem bg-gray-700 text-white font-bold flex align-items-center justify-content-center p-4 border-round">14</div>
</div>

<!-- Bloque al final en la mitad-->
<div class="flex align-items-center justify-content-center mt-4">
    <div class="block w-20rem h-10rem bg-red-800 text-white font-bold flex align-items-center justify-content-center p-4 border-round">15</div>
</div>
