<a href="casa.component.html">
  <button>❌​Volver</button>
</a>
<div class="card-container" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">

  <p-card header="Attack on Titan" subheader="Hajime Isayama" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Attack on Titan" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLf82J5fzWON14kSQOJ0hnEp6rGN275haimg&s" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Una lucha épica entre la humanidad y los titanes en un mundo donde el miedo y la esperanza chocan constantemente.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="ACCIÓN Y MISTERIO" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="One Piece" subheader="Eiichiro Oda" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="One Piece" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkQ45CQYOFRfdXsZkwMIWAoBYAthhwm7xz_A&s" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Sigue a Monkey D. Luffy y su tripulación en su aventura para encontrar el legendario tesoro One Piece y convertirse en el Rey de los Piratas.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="AVENTURA SIN LÍMITES" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Naruto" subheader="Masashi Kishimoto" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Naruto" src="https://upload.wikimedia.org/wikipedia/en/9/94/NarutoCoverTankobon1.jpg" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">La historia de un ninja joven con un gran sueño: convertirse en Hokage y ser reconocido por su aldea.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="SUPERACIÓN Y AMISTAD" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Death Note" subheader="Tsugumi Ohba y Takeshi Obata" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Death Note" src="https://upload.wikimedia.org/wikipedia/en/6/6f/Death_Note_Vol_1.jpg" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Un estudiante brillante encuentra un cuaderno que le permite decidir la muerte de cualquiera, desatando una intensa batalla de intelectos.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="SUSPENSO Y ESTRATEGIA" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Demon Slayer" subheader="Koyoharu Gotouge" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Demon Slayer" src="https://i1.whakoom.com/small/3f/3e/218200d228e84eb1bc02903a022621dc.jpg" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Tanjiro Kamado busca salvar a su hermana y vengar a su familia en un mundo lleno de demonios y espadachines.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="ACCIÓN Y EMOCIÓN" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="My Hero Academia" subheader="Kohei Horikoshi" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="My Hero Academia" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiT30XcMACFQVmerAx3_gBn1s2Mt76kQ9e0A&s" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Izuku Midoriya, un joven sin poderes en un mundo de héroes, lucha por cumplir su sueño de convertirse en el héroe número uno.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="HÉROES Y DETERMINACIÓN" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Tokyo Revengers" subheader="Ken Wakui" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Tokyo Revengers" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/125779383_01/w=800,h=800,fit=pad" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Takemichi viaja en el tiempo para salvar a sus amigos y cambiar el destino trágico de los miembros de una pandilla.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="DRAMA Y VIAJE EN EL TIEMPO" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Spy x Family" subheader="Tatsuya Endo" [style]="{ width: '320px', backgroundColor: 'rgba(0, 0, 0, 0.8)', color: 'white' }">
    <ng-template pTemplate="header">
      <img alt="Spy x Family" src="https://images.cdn3.buscalibre.com/fit-in/360x360/11/a6/11a66b986283f30d0868b10d945387a1.jpg" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;" />
    </ng-template>
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <p style="color: whitesmoke; text-align: justify;">Un espía, una asesina y una niña telépata forman una familia falsa para cumplir una misión secreta.</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button 
        label="COMEDIA Y ACCIÓN" 
        severity="success" 
        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

</div>
